body {
    background-color : #EFEEE8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lyricsBox {
    border-radius : 5px;
    border : 4px double #333;
    margin : 15px;
}
#submitButton {
    background-color : #808080;
    color : #FFFFFF;
    border-radius : 20px;
    padding : 10px 30px;
    margin : 15px;
}